#root {
  /* max-width: 1280px;
  margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.link{
	padding: 5px;
}
.foot-stuff {
	display: flex;
	padding-top:35px;
	justify-content: space-between;
}
.foot-stuff Link,
.foot-stuff a{
	display: inline-block;
	width: auto;
	text-align: center;
}
.fbimg, 
.aboutimg,
.igimg,
.inimg,
.ximg{
	filter:invert(100%);
	height: 1em;
	width: auto;
}
.aboutimg:hover,
.fbimg:hover,
.igimg:hover,
.inimg:hover,
.ximg:hover{
	filter:invert(0%);
	height: 1em;
	width: auto;
	background-color:rgba(255, 255, 255,1.0);
	box-shadow: 0 0 5px 5px rgba(255, 255, 255, 1.0);
}
.Enclosure{
	z-index:-5;
}
.Head{
	z-index:5;
}
.StkDisp{
	z-index:-4;
  background-color:black;
  border: 1px solid white;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.arrImg{
	left:0;
	margin-left:1em;
}
.outDisp{
	z-index:auto;
	margin-left:1em;
	width: 55em;
	overflow:hidden
}
.inDisp {
  z-index:-6;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 30s linear infinite;
  -webkit-animation: my-animation 30s linear infinite;
  animation: my-animation 30s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.profimg
{
	filter:invert(100%);
	overflow:hidden;
}
.abtxt
{
	width:40em;
}
.aboutp
{
	background-color:black;
  border: 1px solid white;
  font-weight: normal;
  margin-bottom: 2em;
}